<form>
    <p>
    <label>Volledige naam:</label> <input #name />
    </p>
<p>
  <label>Adres:</label> <input #address />
</p>
<p>
  <label>Postcode:</label> <input #postalCode />
</p>
<p>
  <label>Stad:</label> <input #city />
</p>
<p>
  <label>Email adres:</label> <input #emailAddress />
</p>
</form>
<p>
  <button (click)="addCustomer(
                      name.value, 
                      address.value, 
                      postalCode.value, 
                      city.value, 
                      emailAddress.value
                    ); 
                  name.value=''; 
                  address.value=''; 
                  postalCode.value=''; 
                  city.value=''; 
                  emailAddress.value='';
                  addProductOrder()
                  ">
    Bestellen
  </button>
</p>