  <div>
    <table>
      <tr>
        <th>Naam</th> 
        <th>Aantal</th>
        <th>Prijs totaal</th>
      </tr>
      <tr *ngFor="let productOrder of productOrderArray">
        <td>{{productOrder.productName}}</td>
        <td class="nowrap"> 
            <button class="button removeButton" (click)="decreaseQuantity(productOrder)"> <i class="material-icons">remove</i> </button> 
            <div class="productQuantity">{{productOrder.quantity}}</div>
            <button class="button addButton" (click)="increaseQuantity(productOrder)"> <i class="material-icons">add</i> </button>
        </td>
        <td>€{{productOrder.totalPrice}},-</td>
        <td>
            <button (click)="removeFromCart(productOrder)"> <i class="material-icons">delete</i> </button>
        </td>
      </tr>
      <tr>
        <td>Totaalprijs bestelling</td>
        <td></td> 
        <td>€{{orderTotalPrice}},-</td>
      </tr>
    </table>
  </div>
    <div>
    <p> De mogelijkheid om bestellingen te plaatsen via de website is nog niet beschikbaar. Tot die tijd kunt een telefonische bestelling doen via {{phoneNumber}}, daarnaast is het ook mogelijk uw bestelling te e-mailen naar {{emailAdress}}. </p>
  </div>