  <body>
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" 
              rel="stylesheet">
  <div class="titelblok">
<h1>
    Pet Supplies
</h1>
  <nav>
      <a routerLink="/products"><i class="material-icons">home</i></a>
      <a routerLink="/shoppingcart"> <i class="material-icons">shopping_cart</i> </a>
    </nav>
  </div>
  
  
  <router-outlet></router-outlet>
  <div class="footerholder">
    <div class="footer">
        Pet Supplies - Lange Hullenbergweg 317 - 1111BA Amsterdam-Zuidoost
    </div>
</div>
</body>