  <div *ngIf="products">
    <table>
      <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" 
              rel="stylesheet"> 
      <tr>
        <th>Naam</th>
        <th>Omschrijving</th> 
        <th>Prijs per stuk</th>
        <th>Prijs totaal</th>
        <th>Aantal</th>
        <th></th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td> 
        <td>€{{product.price}},-</td>
        <td>€{{product.totalPrice}},-</td>
        <td> {{product.quantity}}</td>
        <td>
            <button (click)="addToCart(product)"> <i class="material-icons">add_shopping_cart</i> </button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Totaalprijs bestelling</td>
        <td></td> 
        <td>€{{orderTotalPrice}},-</td>
      </tr>
    </table>
  </div>